require('dotenv').config(); // this is important!

module.exports = {
  secret: process.env.AUTH_SECRET,
  authTokenExpiration: 3600, // 1 hour
  refreshTokenExpiration: 3600 * 24, // 24 hours
  invitationTokenExpiration: 3600 * 24 * 7, // 1 week
  resetPasswordExpiration: 60 * 30, // 30 min

  /* for test */
  // jwtExpiration: 30,          // 30 sec
  // jwtRefreshExpiration: 300,  // 5 minutes
};
